<h1>To Do List</h1>
<table id="users">
<th *ngFor="let column of headers">
    {{column}}
</th>

<tr *ngFor = "let row of rows">
    <td *ngFor = "let column of headers">
      {{row[column]}}
      <p *ngIf="column==='Edit/Delete'">
        <button type="button" class="btn btn-primary" (click)="updateToDo(row)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteToDo(row)">Delete</button>
      </p>
    </td>
  </tr>

</table>
<br>
<button type="button" class="btn btn-success" (click)="addToDo()">Add Todo</button>