<div class="text-center">
    <!-- <br>
    Id:
    <br>
    <input type="text" [(ngModel)]="new_to_do.id">
     <br>-->
    <br> 
    User Name:
    <br>
    <input type="text" [(ngModel)]="todo.username">
     <br>
    Description:
    <br>
    <input type="text" [(ngModel)]="todo.description">
    <br>
    Target:
    <br>
    <input type="text" [(ngModel)]="todo.targetDate">
    <!-- <br>
    Done:
    <br>
    <input type="text" [(ngModel)]="new_to_do.done">
    <br> -->
    <br> 
    <br>
    <button (click)="submit()" class="btn btn-success">Submit</button>
    </div>
